alembic==1.16.4
annotated-types==0.7.0
anyio==4.9.0
-e git+ssh://git@github.com/gducharme/auto.git@161e6fcec4ca384e457ef8b0399fa72f7992b7e0#egg=auto
blurhash==1.1.4
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
decorator==5.2.1
fastapi==0.116.1
feedparser==6.0.11
h11==0.16.0
idna==3.10
Mako==1.3.10
MarkupSafe==3.0.2
Mastodon.py==2.0.1
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-magic==0.4.27
requests==2.32.4
setuptools==80.9.0
sgmllib3k==1.0.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.47.1
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
uvicorn==0.35.0
wheel==0.45.1
