alembic==1.16.4
beautifulsoup4==4.13.4
click==8.2.1
dspy==2.6.27
fastapi==0.116.1
httpx==0.28.1
invoke==2.2.0
Jinja2==3.1.6
jsonschema==4.24.0
Mastodon.py==2.0.1
lxml==6.0.0
openai==1.97.0
packaging==25.0
prometheus-client==0.22.1
pytest==8.4.1
pytest-cov==6.2.1
pytest-recording==0.13.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
SQLAlchemy==2.0.41
typer==0.12.3
uvicorn==0.35.0
virtualenv==20.31.2
websocket-client==1.8.0
wheel==0.45.1
wsproto==1.2.0
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
python-multipart==0.0.9
